.video-carousel-container {
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.video-container {
  transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0.5;
  position: relative;
  z-index: 0;
  transform: scale(0.8);
  margin: 0 10px;
}

.video-container.active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.slick-center .video-container {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  opacity: 0.5;
}

.slick-slide.slick-center {
  transform: scale(1);
  opacity: 1;
}

.slick-dots {
  bottom: -30px;
}

.slick-prev,
.slick-next {
  display: none !important;
}
